/* color picker */
.lv-colorpicker-wrapper {
  font-size: 12px !important;
}
.lv-input__group .lv-input__field {
  padding: 0 4px !important;
  width: 80px !important;
}
.lv-input__group .lv-input__field .lv-input__element {
  width: 80px !important;
  font-size: 10px !important;
  padding: 4px !important;
}
.lv-input__field .lv-input__append {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
}
.lv-colorpicker__colorblock-wrap {
  display: none !important;
}