:root {
  --app-color: #4ca;
  --app-color-hover: #3b9;
  --app-color-disabled: #cee;
  --navbar-height: 50px;
  --sidebar-width: 240px;
  --style-input-color: #edf2f7;
}
* {
  box-sizing: border-box;
  transition: all .1s ease-in-out;
}
body {
  margin: 0;
  font-family: sans-serif;
}
main {
  flex: 1;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
input, textarea {
  border: 1px solid #eee;
  outline: none;
}
input:focus, textarea:focus {
  border-color: #000;
}


.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.transparent {
  opacity: 0;
}
.hidden {
  display: none;
}


.primary-button {
  background: var(--app-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: .4rem;
  cursor: pointer;
}
.primary-button:hover {
  background: var(--app-color-hover);
}
.primary-button:disabled {
  background: var(--app-color-disabled);
  cursor: default;
}
.border-button {
  background: none;
  border: 1px solid #000;
  padding: 8px 16px;
  border-radius: .4rem;
  cursor: pointer;
}
.border-button:hover {
  background: #000;
  color: #fff;
}
.link-button {
  background: none;
  color: var(--app-color);
}
.link-button:hover {
  text-decoration: underline;
}
.shadow-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background: #0008;
  z-index: 10;
  padding: 16px;
}
/* Dialog */
.dialog {
  background: #fff;
  border-radius: .5rem;
  padding: 32px;
  width: 100%;
}
.dialog.small {
  max-width: 480px;
}
.dialog.medium {
  max-width: 640px;
}
.dialog.large {
  max-width: 800px;
}
.dialog-title {
  font-weight: 600;
  font-size: 20px;
}
.dialog-close {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.dialog-close:hover {
  background: #f8f8f8;
}
.dialog-close .ov-icon {
  width: 24px;
  height: 24px;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
.form-field label {
  font-size: 12px;
  letter-spacing: .5px;
  color: #aaa;
  margin: 2px 4px;
}
.form-field input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: .4rem;
  outline: none;
  background: #f0f0f0;
}
.form-field input:focus {
  border: 1px solid #000;
}

/* menu */
.menu-button-container {
  position: relative;
}
.menu-button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: #d3dad8;
  font-weight: bold;
  color: #fff;
}
.menu-popup {
  position: absolute;
  z-index: 10;
  top: 105%;
  right: 0;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: .4rem;
  box-shadow: 2px 4px 4px 1px #0001;
  padding: 8px 0;
  width: 160px;
}
.menu-popup button {
  width: 100%;
  padding: 8px 16px;
  text-align: start;
  cursor: pointer;
  border: none;
  background: none;
}
.menu-popup button:hover {
  background: var(--style-input-color);
}